.ant-segmented-item {
  border: 1px solid transparent;
}

.ant-segmented-group {
  height: 32px;
}

.ant-segmented-item-label {
  font-family: "Montserrat", Arial, sans-serif !important;
  font-size: 13px !important;
  font-weight: 700;
  padding-top: 2px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-segmented-item-icon {
  display: flex;
  align-items: center;
}

.ant-segmented-item-selected {
  border: 1px solid #e2e3e5;
}

.ant-segmented-thumb {
  border: 1px solid #e2e3e5;
}