.wrapper {
  margin: 4px;

  button {
    border-radius: 4px;
    background: #5D5FEF;
    height: 60px;
    border: 0;
    width: 100%;
    color: #ffffff;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;

  }
}